@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
/* reset */

* { box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* navbar */

#navbar {
  position: fixed;
  top: 0;
  height: 100%;
  border-right: 4px solid black;
}


#navbar-title {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

#navbar-menu {
  list-style-type: none;
  padding: 0;
}

#navbar-menu li {
  padding: 3em 1em;
  border-top: 2px solid black;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.nav-link:hover {
  background: black;
  color: white;
}

/* main-section */

.main-section {
  padding-left: 16em;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1.3rem;
}