*, *::after, *::before, body, html {
  box-sizing: border-box;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

.hero {
  padding: 100px 0;
  background-color: #23424A;
  color: white;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  background: red;
  margin: 10px;
}

.hero-text {
  width: 60%;
}