@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-card {
    position: relative;
    margin-top: 1rem;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px 11px rgba(0, 0, 0, 0.25);
}

#title-box {
    display: flex;
    margin-top: 3rem;
}

#title1, #title2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title1 {
    margin-right: 2rem;
}

#title2 {
    margin-left: 2rem;
}

#corpuz-text, #presnede-text {
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#barroga-text, #garcia-text {
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#famtree-box {
    margin-top: 2rem;
}

#famtree-text {
    font-size: 4.3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 6px;
    position: relative;
}

#famtree-text::before {
    content: '';
    position: absolute;
    border: 1px solid gray;
    top: 50px;
    left: -450px;
    right: 0;
    margin-right: 8em;
}

#famtree-text::after {
    content: '';
    position: absolute;
    border: 1px solid gray;
    top: 50px;
    left: 0;
    right: -450px;
    margin-left: 8em;
}

#date-box {
    margin: 2rem 0;
}

#date-text {
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}