body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#box {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    max-width: 700px;
}

#identity-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#options-box ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#socials-box ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}