/* roboto | open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black1:#101010;
    --black2: #02111B;
    --coffee: #30292F;
    --cadet: #5D737E;
    --onyx: #3F4045;
    --white: #FCFCFC;
    background-color: var(--white);
}

.card {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: 3.5vmin;
    font-weight: 600;
    color: var(--black1);
    letter-spacing: 6.5px;
}

h2 {
    font-size: 5vmin;
    font-weight: 300;
    color: var(--black1);
    letter-spacing: 6.5px;
}

p {
    font-size: 5vmin;
    font-weight: 100;
    color: var(--black1);
    letter-spacing: 3px;
}

img {
    display: block;
    width: 150px;
    height: auto;
}